<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Complication - TalkTimer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notification - TalkTimer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TalkTimer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TalkTimer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA54DA6D1CA94F39000499F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA54DA811CA94F39000499F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA54DA8C1CA94F39000499F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA54DA951CA94F39000499F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
